[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.0"
uvicorn = {version = "==0.15.0", extras = ["standard"]}
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
bcrypt = "*"
pytest-asyncio = "*"

[dev-packages]
pytest-asyncio = "*"
httpx = "*"
requests = "*"
pytest-mock = "*"
pytest = "*"

[requires]
python_version = "3.10"
